* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.navbar {
  background-color: #0f0f0f;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.left,
.right {
  display: flex;
  align-items: center;
}
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  margin-left: 7px;
  cursor: pointer;
}

.burger .line {
  background-color: #ffffff;
  height: 1px;
  width: 100%;
  margin: 2px 0;
}
.youtube_logo {
  width: 120px;
  height: 34px;
  margin-left: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/images/youtube\ logo.png");
}

.upload_video_logo,
.notification_logo {
  color: white;
  fill: white;
  cursor: pointer;
  margin: 0 15px;
  min-width: 24px;
  min-height: 24px;
}

.channel_logo {
  background-image: url("./assets/images/avatar.jpg");
  width: 32px;
  height: 32px;
  border-radius: 55%;
  margin-left: 15px;
}
.center {
  display: flex;
  align-items: center;
}
.search_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 340px;
  border: 1px solid #303030;
  border-radius: 22px;
}
.search_container .search_input .input {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  outline: none;
  color: white;
  font-size: 16px;
}
.search_container .search_input .input::placeholder {
  color: #888;
}
.search_container .search_input {
  padding: 0 12px;
}
.btn_search,
.mic {
  background-color: #222222;
}
.btn_search {
  border: 0px;
  height: 100%;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  width: 64px;
  color: white;
  cursor: pointer;
}
.btn_search svg {
  width: 24px;
  height: 24px;
}
.mic svg {
  width: 18px;
  height: 18px;
}
.mic {
  cursor: pointer;
  margin-left: 20px;
  border-radius: 55%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* lesson 2 */

.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: start;
  height: calc(100vh - 56px);
}
.main .tabs {
  background-color: #0f0f0f;
  height: 100%;
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4px;
}
.tabs .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 10px;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 10px;
}
.tabs .tab:hover {
  background-color: #ffffff1a;
}
.tabs .tab .tab_text {
  margin-top: 6px;
}

/* Lesson 3 */

.main .content {
  display: grid;
  grid-template-rows: 32px calc(100% - 32px);
  gap: 20px;
  background-color: #0f0f0f;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.main .content .categories {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-right: 10px;
  width: 100%;
}

.main .content .categories .category {
  background-color: #272727;
  color: white;
  padding: 0 12px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 12px;
  margin-left: 0px;
  cursor: pointer;
  border-radius: 8px;
  text-wrap: nowrap;
}
.main .content .categories .category.active,
.main .content .categories .category.active:hover {
  background-color: #f1f1f1;
  color: #0f0f0f;
}
.main .content .categories .category:hover {
  background-color: #ffffff33;
}

.main .content .categories .next_category {
  position: absolute;
  right: 0px;
  transform: translate(380%, 0%);
  top: 0;
  z-index: 2;
  border-radius: 50%;
  min-width: 30px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.main .content .categories .shadow {
  position: absolute;
  top: 0;
  transform: translate(90%, 0%);
  right: 0px;
  bottom: 0;
  width: 150px;
  height: 100%;
  background: linear-gradient(to left, #000 20%, rgba(0, 0, 0, 0) 80%);
  z-index: 1;
}

.main .content .categories .next_category:hover {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
}
.main .content .categories .next_category svg {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 2;
}

.container .main .content .videos {
  display: grid;
  gap: 20px;
  width: calc(100% - 67px);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.container .main .content .videos .video {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .main .content .videos .video .preview_container {
  position: relative;
}
.container .main .content .videos .video .preview_container .preview {
  width: 100%;
  height: 220px;
  background-image: url("/assets/images/Урок\ 9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.container .main .content .videos .video .preview_container .timer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 7px;
  border-radius: 3px;
}
.container .main .content .videos .video .desc_container {
  display: flex;
  gap: 10px;
  color: white;
}
.container .main .content .videos .video .desc_container .avatar {
  background-image: url("./assets/images/avatar.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.container .main .content .videos .video .desc_container .info_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container
  .main
  .content
  .videos
  .video
  .desc_container
  .info_container
  .title {
  font-size: 16px;
  color: #f1f1f1;
  font-weight: 600;
  line-height: 22px;
}
.container
  .main
  .content
  .videos
  .video
  .desc_container
  .info_container
  .author,
.container
  .main
  .content
  .videos
  .video
  .desc_container
  .info_container
  .video_info {
  color: #aaaaaa;
}
@media (max-width: 770px) {
  .navbar {
    overflow-x: auto;
  }
  .navbar .center .search_container {
    width: 240px;
  }
}
